html, body {
    margin: 0 !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
}
div{
  width: 95% !important;
  margin: auto !important;
  padding:0px !important;
  text-align: justify !important;
  font-size: 120%;
}
img{
  margin: auto !important;
  width: 110% !important;
  height: 30vh !important;
  position: relative;
  left: -5%;
}
a{
  margin: auto !important;
}
iframe{
  margin: auto !important;
  width: 110% !important;
  height: 30vh !important;
  position: relative;
  left: -5%;
}
blockquote{
color:#4d1596 !important;
font:italic 300 15px Roboto, sans-serif !important;
font-size:x-large !important;
text-align:justify !important;
}

button {
  background-color: #6a1b9a;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #6a1b9a;
}

button:hover {
  background-color: #6a1b9a;
  color: white;
}
